---
name: SonarCloud analysis

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  sonarcloud:
    name: SonarCloud

    # Don't start the job if Dependabot opened the PR
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
