---
name: Trivy

on:
  pull_request:

jobs:
  trivy:
    name: Trivy

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.11.2
        with:
          scan-type: 'fs'
          format: 'table'
          exit-code: '1'
